body {
    background: white url("images/background.gif") no-repeat right bottom;
}

h1.text-center {
    color: aquamarine;
}

h1 small {
    color: paleturquoise;
}

span.small {
    color: paleturquoise;
}

a span.smalls {
    font-size: 17px;
}

#flavs {
    color: orangered;
    text-decoration: none;
    list-style-type: none;
}

.well {
    margin: auto;
    max-width: 200px;
}

