{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'icecream/style.css' %}">


<div style="margin: 10px 0 10px 0"></div>

<h1> {{ ice.cream_name }} </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="bg-info" style="padding: 10px 10px 10px 10px">
    
    <!--<a href="{% url 'icecream:buy' ice.id%}">Comfirm Buy 1 scoop</a>-->
    
    
</div>