{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'icecream/style.css' %}">



<div style="margin: 10px 0 10px 0"></div>

    <h1 class="text-center">Welcome to Akash's Icecream Parlour<br>
        <span class="small glyphicon glyphicon-ice-lolly-tasted"></span>
        <small>Click on a flavour to buy a scoop:</small>
        <span class="small glyphicon glyphicon-ice-lolly-tasted"></span>
    </h1>

<div class="well well-sm">
{% if latest_icecream_list %}
    <ul class="list-unstyled ">
        {% for ice in latest_icecream_list %}
            <li class="text-center">
                <a class="lead" id="flavs" href="{% url 'icecream:buy' ice.id %}">
                <span class="smalls glyphicon glyphicon-ice-lolly"></span> {{ ice.cream_name }} </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>We ran out out of stock!!</p>
{% endif %}
</div>