{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'icecream/style.css' %}">


<div style="margin: 10px 0 10px 0"></div>


<h1 class="bg-success" style="margin: 10px 10px 2px 10px;padding: 10px 5px 10px 10px">You just bought a scoop of {{ ice.cream_name }}</h1>
<div class="panel panel-success" style="padding: 10px 10px 10px 10px"><div class="panel-heading">
    <h1 class="panel-title" style="font-size:30px">{{ ice.cream_name }}</h1>
    </div>
    <div class="panel-body">
        <p class="lead">Scoops still in stock: {{ ice.cream_count }}</p>
    </div>
</div>